/* style.css (CSS) */

#game {
    width: 800px;
    height: 600px;
    border: 2px solid black;
    margin: auto;
    height: height / 2; 
}

.level {
    width:800px; 
    margin:0 auto;

}

.computermonitor {
    position: absolute;
    left: 50%;
    width: 1280px;
    height: 720px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px #000;
    z-index: 0;

}

iframe {
    position: absolute;
    left: 50%;
    width: 800px;
    height: 600px;
    top: 55%;
    transform: translate(-50%, -50%);
    /* box-shadow: 0 0 20px #000; */


    

    z-index: 0;

}

.emailheader {
    display: flex;
    flex-direction: row;
    

    overflow: hidden;
    
    background-color: #ddd;
    
    width: 1280px;
    height: auto;

    margin: 0 auto;

    position: relative;

    z-index: 1; /* position the header above the iframe*/
    
  } 

.sender {
    flex: 1;
    margin-left: 10px;
    color: #000;
}

.receiver {
    flex: 1;
    margin-left: 10px;
    color: #000;
}

.subject {
    flex: 3;
    margin-left: 10px;
    color: #000; 
}

.reply-btn {
    flex: 1;  
    color: #000000;    
    background-color: transparent;
    margin-right: 5px;

    font-size: 12px;
    padding: 10px;
    margin: 10px;
}

.fwd-btn {
    flex: 1;
    color: #000000;  
    background-color: transparent;
    margin-right: 10px;

    font-size: 12px;
    padding: 10px;
    margin: 10px;
}

.choicebuttons {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;

    position: absolute; 
    bottom: 0; 
    width: 100%;
}