<!-- index.html (HTML) -->
<!DOCTYPE html>


<html>
    <head>
        <title>Phishology</title> <!-- make a logo to replace this? -->

        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <h1>Phishology</h1>
        
        <!-- The game will be rendered here 
        <div id="game">
            
        </div>
        -->
        
        <div class="level">

         <h2 id="questionnumber"></h2>            
            
        </div>

        <!-- start of computer monitor screen -->

        <div class ="computermonitor">

            <h2 class="center" id="Title">Welcome to Phishology</h2>

            <!--<input type="text" id="yourname" name="fname">-->

            <button id="btnStartGame" class="startgame-btn" text-align="center" vertical-align="middle" line-height="90px" onclick="StartGame()" >START GAME</button>
            
            <div id="headeremail" class="emailheader" style="visibility: hidden;">
                <span id="senderid" class="sender">To:</span>
                <span id="receiverid" class="receiver">From:</span>
                <span id="subjectid" class="subject">Subject:</span> 
                <button id="replybtn" class="reply-btn">Reply</button> 
                <button id="fwdbtn" class="fwd-btn">Forward</button> 
                
            </div>
            <iframe id="emailframe"
                src=""
                style="border: 1px solid #000; visibility: hidden;">
            </iframe>


            <!-- here the user will be told how many questions they got right/wrong -->
            <h2 id="scoreresult" style="display:none;"></h2>

        </div> 

        <!-- end of computer monitor screen -->

        <div class="choicebuttons">

            <button id="btnMalicious" class="malicious-btn" onclick="btnMaliciousClick()">Malicious</button>
            <button id="btnLegitimate" class="legit-btn" onclick="btnLegitimateClick()">Phishing</button>


        </div>

        
        
        
        <script src="static/game.js"></script>
    </body>
</html>
